/* 
 * GoldenDict's styles
 *
 * Put this file into the directory:
 * Linux: ~/.goldendict
 * Windows: %APPDATA%\GoldenDict
 */

.xdxf_headwords {
    font-size: 110%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.xdxf_headwords + .xdxf_headwords {
    margin-top: -10px;
}

.xdxf_num { margin-left: -15px; }
.xdxf_def { border-style: none; }

.xdxf_co:before { content:none; }
.xdxf_co:after  { content:none; }
.xdxf_co
{
    color: black;
    font-style: normal;
}

.xdxf_ex:before { content:"• "; }
.xdxf_ex {
    color: #000;
    text-indent: -13px;
}
.xdxf_ex_orig { color: #3465a4; }

/*
 * Images preview-full
 */

.nikita-moor-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: 800px;
    max-height: 98%;
}
.nikita-moor-label:checked + label >> img.nikita-moor-image {
    display: block !important;
}
deftext img { box-shadow: 0 0 6px rgba(132, 132, 132, .75); }
deftext img:hover { cursor:pointer; }

